*.o
*~
*.log
compile
.dirstamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
libkafka.pc
.deps
.libs
*.la
*.lo
stamp-h1
*.tar.gz
*.html
test-driver
